.AppHeader {
    width: 100%;
    border-bottom: 1.5px solid #000;
    padding: 10px 0;
    position: fixed;
    background-color: #f9dfeb;
   }
   
   .ContentContainer {
     max-width: 1260px;
     margin: 0 auto;
     display: flex;
     flex-flow: row;
     justify-content: flex-end;
     align-items: center;
   }
   
   .AppHeader a {
     padding: 0 0 0 30px;
   }