.projectCard {
    border: 0 solid #000;
    border-width: 0 0 1.5px;
    margin: 0 1em 4em;
    min-height: 200px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.projectCard div {
    display: flex;
    flex-direction: column;
}

.projectCard h2 {
    margin: 0;
    font-size: 1.7em;
    max-width: 380px;
}

.projectService {
    padding: 2px 0;
    align-items: flex-end;
    justify-content: flex-start;
}

.projectService p {
    font-weight: 900;
    margin: 0;
    font-size: 1em;
    text-align: end;
}

.projectInfo {
    padding: 0 1em 1em;
    align-items: flex-start;
    /* justify-content: flex-end; */
}

.projectInfo p {
    font-size: 1em;
}

.projectYear {
    justify-content: flex-end;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

.projectYear div {
    background-color: black;
    margin-top: 1em;
    align-items: flex-end;
}

.projectYear p {
    margin: 0 5px;
    color: #f9dfec;
    font-weight: 900;
    /* font-size: 2em; */
}

@media(min-width: 576px) {

    .projectCard {
        width: 80%;
        margin: 0 auto 4em;
    }

    .projectCard h2 {
        font-size: 2.2em;
    }

    .projectYear p {
        font-size: 1.3em;
    }
}

@media(min-width: 768px) {
    .projectCard {
        grid-template-columns: 25% 50% 25%;
        width: 80%;
    }

    .projectYear div {
        align-items: flex-start;
    }

    .projectService p {
        font-size: 1.25em;
    }

}

@media(min-width: 992px) {

    .projectCard {
        grid-template-columns: 25% 50% 25%;
        width: 80%;
    }

    /* .projectCard h2 {
        font-size: 2em;
    } */

    /* .projectService {
        padding: 6px 0;    
    } */

    .projectService p {
        font-size: 1.5em;
    }

    .projectInfo {
        padding: 0 3em 3em;
    }

    .projectInfo p {
        font-size: 1.3em;    
    }

    .projectYear {
        margin: 0;
    }

    .projectYear p {
        margin: -4px 5px;
        font-size: 2em;
    }
  }