@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin: 0;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  color: #000;
}

a, button {
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
}
